footer {
    background-color: #222E34;
    color: #fff; /* Text color */
    padding: 10px 0; /* Padding for top and bottom */
    text-align: center; /* Center align text */
    /* Width: 1440px; */
Height: 44px;
Top:2536px;
Left: 1px;
  }


